<!--      
        Noah Hendricks
        Patrick Kurth
        Student ID: 1900219
        CIS 3368 - 22693 Homework Final Project, Spring 2021
        Movie Night Organizer App
-->

<!-- Webpage Route for the newly inputted friend from the text boxes -->

<!DOCTYPE html>
<html>

  <!-- CSS Style  -->
  <title>W3.CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
  <div class="w3-container">
  <head>
    <h1>
    <%- include('../partials/header'); %>
  </h1>
  </head>
  </div>
  
  <body class="container">
    <div class="w3-container w3-blue">

      <!-- Simple statement to give user more knowledge -->
      <h2>Enter Friend Details</h2>

      <!-- Webpage Route and POST method -->
      <form action="/friendinput" method="POST">

        <!-- Creation of the first name text box for user input of a first name they want to add as a friend -->
        <input type="text" name="firstname" id="firstname" placeholder="First Name" required/>

        <!-- Creation of the first name text box for user input of a last name they want to add as a friend -->
        <input type="text" name="lastname" id="lastname" placeholder="Last Name" required/>

        <!-- Creation of the button connection and style -->
        <div class="btn-block">

          <!-- Creation of the actual submit button for newly added friends to be processed -->
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
