<!--      
        Noah Hendricks
        Patrick Kurth
        Student ID: 1900219
        CIS 3368 - 22693 Homework Final Project, Spring 2021
        Movie Night Organizer App
-->

<!-- Webpage Route for the newly inputted movielist from the text boxes -->

<!DOCTYPE html>
<html>

<!-- CSS Style  -->
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container">
  <head>
    <h1>
    <%- include('../partials/header'); %>
  </h1>
  </head>
  </div>
  <body>
    <div class="w3-container w3-red">

      <!-- Simple statement to give user more knowledge -->
      <h1>Enter Movies</h1>
      </div>

      <div class="w3-table">

      <!-- Webpage Route and POST method -->
      <form action="/friend_movie" method="POST">

        <!-- Creation of the firend id textbox for a user to type in the friend's id that they want to create a movielist for -->
        <input type="text" name="friendid" id="friendid" placeholder="Friend Id" required/>

        <!-- Creation of the movielist -->
        <!-- Ability to create a range from 1-10 movies -->
        <input type="text" name="movie1" id="movie1" placeholder="Movie 1" />
        <input type="text" name="movie2" id="movie2" placeholder="Movie 2" />
        <input type="text" name="movie3" id="movie3" placeholder="Movie 3" />
        <input type="text" name="movie4" id="movie4" placeholder="Movie 4" />
        <input type="text" name="movie5" id="movie5" placeholder="Movie 5" />
        <input type="text" name="movie6" id="movie6" placeholder="Movie 6" />
        <input type="text" name="movie7" id="movie7" placeholder="Movie 7" />
        <input type="text" name="movie8" id="movie8" placeholder="Movie 8" />
        <input type="text" name="movie9" id="movie9" placeholder="Movie 9" />
        <input type="text" name="movie10" id="movie10" placeholder="Movie 10" />

        <!-- Creation of the button connection and style -->
        <div class="btn-block">

          <!-- Creation of the actual submit button for newly added friends to be processed -->
          <button type="submit">Submit</button>

        </div>
      </form>
    </div>

  </body>
  <footer>
    <header>
     
    </header>
  </footer>
</html>