<!--      
        Noah Hendricks
        Patrick Kurth
        Student ID: 1900219
        CIS 3368 - 22693 Homework Final Project, Spring 2021
        Movie Night Organizer App
-->

<!-- EJS File for the footer -->

<p class="text-center text-muted">Movie Night Organizer App</p>